*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60px;
    background-color: blue;
}
.logo{
    margin: 10px 20px;
}
.link{
    display:flex;
    flex-direction: row;
}
.link > p{
    margin: 0 20px;
}
#notes{
    display: flex;
    padding: 5px;
    width: 100vw;
    height: calc(100vh - 60px);
    border: none;
    outline: none;
    font-size: 16px;
}
.bottom{
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100vw;
    padding: 2px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
}
.first, .second, .third{
    width: calc(100% / 3);
    padding: 0 10px;
    min-height: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.second{
    border-right: 1px solid green;
    border-left: 1px solid green;
}